<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <form method="post" action="/order/add_order/">
        {% csrf_token %}
        <h2>Order</h2>
        <div>
            <label>Customer name : </label>
            <input type="text" name="customer_name">
        </div>
        <div>
            <label>Address : </label>
            <input type="text" name="address">
        </div>
        <div>
            <label>Total items: </label>
            <input type="number" name="item">
        </div>
        <div>
            <label>Price : </label>
            <input type="number" name="price">
        </div>
        <div>
            <input type="checkbox" name="is_delivered" id="delivery_status" value="delivered">
            <label for="delivery_status">Delivered</label>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>